<div class="text-center">
    <h2 class="text-5xl py-14 leading-normal">
        TÁMOGATÓ FOGLALKOZÁSOK<br>
        A CÉLJAID ELÉRÉSÉHEZ
    </h2>
    <p class="text-3xl mb-20">
        <em>"Megtanulhatod, hogyan válthatod valóra álmaidat!"</em>
    </p>
    <p>
        <a href="/idopontfoglalas" class="bg-orange-500 hover:bg-orange-700 text-white text-2xl text-thin py-2 px-4 rounded">
                IDŐPONTFOGLALÁS
        </a>
    </p>
</div>